<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4"
	xmlns="http://java.sun.com/xml/ns/j2ee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee
	http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">

  <servlet>
    <servlet-name>SomeServlet</servlet-name>
    <servlet-class>web.SomeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SomeServlet</servlet-name>
    <url-pattern>/some</url-pattern>
  </servlet-mapping>
  
  
  <servlet>
  	<servlet-name>actionServlet</servlet-name>
  	<servlet-class>web.ActionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>actionServlet</servlet-name>
  	<url-pattern>*.do</url-pattern>
  </servlet-mapping>
  
  
  <servlet>
  	<servlet-name>abcServlet</servlet-name>
  	<servlet-class>web.AbcServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>abcServlet</servlet-name>
  	<url-pattern>*.di</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>loginServlet</servlet-name>
  	<servlet-class>web.LoginServlet</servlet-class>
  	<init-param>
      <param-name>maxOnline</param-name>
      <param-value>33</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
  	<servlet-name>loginServlet</servlet-name>
  	<url-pattern>/lg</url-pattern>
  </servlet-mapping>
  
  <context-param>
  	<param-name>size</param-name>
  	<param-value>20</param-value>
  </context-param>
</web-app>
